/*--------WIDTH---------*/
$desktop: 1440px;
$tablet: 768px;
$mobile: 375px;
/*----------------------*/

/*--------COLORS--------*/
$background: #121725;
$headerButtonColor: #54e6af;
$buttonHoverColor: #b3ffe2;
$textColor: #c2cbe5;
$requestColor: #121725;
$logoColor: #5a668a;
$warningColor: #fb3e3e;
$emailBackground: #2c344b;
$white: #ffffff;
/*----------------------*/

/*--------FONTS---------*/
/*weight*/
$fontRegular: 400;

/*family*/
$fontFamily: Chivo;

/*sizes*/
$fontSizeDesktopHeader: 52px;
$fontSizeTabletHeader: 48px;
$fontSizeMobileHeader: 26px;
$fontSizeMobileText: 15px;
$fontSizeText: 18px;
$fontSizeEmail: 14px;
/*----------------------*/
