/*--------WIDTH---------*/
$desktop: 1440px;
$tablet: 768px;
$mobile: 375px;
/*----------------------*/

/*--------COLORS--------*/
$background: #121725;
$headerColor: #54e6af;
$textColor: #c2cbe5;
$requestColor: #121725;
$logoColor: #5a668a;
$warningColor: #fb3e3e;
$emailBackground: #2c344b;
$white: #ffffff;
/*----------------------*/
