@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700;900&display=swap");
@import "_variables.scss";
@import "modules/podcast.scss";
@import "modules/platform.scss";

/*-------------------*/
/*universal box sizing with inheritance*/
/*pozwala m.in. na zdefiniowanie w ,,rodzicu" inny "box-sizing" (np. border-box)*/
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
/*-------------------*/

body {
  font-size: $fontSizeMobileHeader;
  font-family: $fontFamily;
  color: $textColor;
}

main {
  min-height: 100vh;
  position: absolute;
  opacity: 0.9;
  background-image: url("starter-code/assets/mobile/image-host.jpg");
  mix-blend-mode: screen;
}

@media (min-width: $mobile) {
  body {
    font-size: $fontSizeTabletHeader;
  }
  main {
    background-image: url("starter-code/assets/desktop/image-host.jpg");
  }
  .podcast__description {
    font-size: $fontSizeText;
  }
}

@media (min-width: $tablet) {
  body {
    font-size: $fontSizeDesktopHeader;
  }
  .podcast__description {
    font-size: $fontSizeText;
  }
}

.platform__list {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.podcast__color {
  color: $headerButtonColor;
}

.podcast__description {
  font-size: $fontSizeMobileText;
}

.podcast__access {
  background: $headerButtonColor;
  box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.497913);
  border-radius: 28px;
}

.podcast__dots {
  background-image: url("starter-code/assets/desktop/bg-pattern-dots.svg");
}

@media (min-width: $tablet) {
  .podcast__address {
    position: absolute;
    width: 427px;
    height: 56px;
    left: 39px;
    top: 618px;
  }
  .podcast__email {
    position: absolute;
    border-radius: 28px;
    background: $emailBackground;
    max-width: 427px;
    height: 56px;
  }
}
