@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700;900&display=swap");
@import "_variables.scss";
@import "modules/podcast.scss";
@import "modules/platform.scss";

/*-------------------*/
/*universal box sizing with inheritance*/
/*pozwala m.in. na zdefiniowanie w ,,rodzicu" inny "box-sizing" (np. border-box)*/
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
/*-------------------*/

.bg-dots {
  display: none;
}

body {
  font-size: $fontSizeMobileHeader;
  font-family: $fontFamily;
  font-weight: $fontRegular;
  color: $textColor;
  background-color: $background;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.container {
  width: 375px;
  height: 667px;
  background: url(./starter-code/assets/mobile/image-host.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  &::before {
    content: "";
    width: 100%;
    opacity: 0.9;
    background: $background;
  }
  &-page {
    position: absolute;
    left: 0;
    right: 0;
    padding: 1rem;
  }
}

.desktop-image {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  &__address,
  &__access {
    padding: 9px 0;
    border-radius: 25px;
    border: none;
    line-height: 28px;
    cursor: pointer;
  }

  &__address {
    padding-left: 32px;
    margin-bottom: 16px;
    opacity: 0.5;
  }

  &__access {
    background-color: $headerButtonColor;

    &:focus,
    &:hover {
      background-color: rgb(21, 172, 114);
      color: $textColor;
    }

    &__error {
      color: $warningColor;
    }
  }

  &__success {
    color: $headerButtonColor;
  }
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 62px;
}

.icon {
  height: 17px;

  &__google {
    height: 15px;
  }
}

.icons {
  display: flex;
  justify-content: space-around;
  margin-top: 32px;
}

main {
  padding: 10px 10px;
}

.podcast {
  text-align: center;

  &__header {
    font-size: $fontSizeMobileHeader;
    line-height: 38px;
    text-transform: uppercase;
    margin: 57px 0px 16px 0px;
  }

  &__color {
    color: $white;
  }

  &__description {
    margin-top: 16px;
    font-weight: $fontThin;
    color: $textColor;
  }
}

.tablet-image {
  display: none;
}

@media (min-width: $tablet) {
  .bg-dots {
    display: block;
    position: absolute;
    bottom: -180px;
  }

  .container {
    width: $tablet;
    height: 1000px;

    &::before {
      content: "";
      opacity: 1;
    }

    &-page {
      width: 635px;
      height: 509px;
      position: absolute;
      bottom: 300px;
    }
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    background-color: $requestColor;
    position: absolute;
    top: 100px;
    padding: 2px;
  }

  .form {
    font-size: 14px;

    &__address {
      width: 460px;
    }

    &__error {
      position: absolute;
      bottom: 72px;
    }
  }

  .form button {
    border: 0;
    border-radius: 32px;
    position: absolute;
    height: 46px;
    width: 162px;
    right: 25%;
  }

  .icons {
    margin-right: 32px;
    height: 26px;
  }

  .logo {
    position: absolute;
    top: -140px;
    left: 20px;
  }

  .podcast {
    text-align: left;

    &__header {
      font-size: 40px;
      line-height: 56px;
    }

    &__description {
      font-size: 18px;
      line-height: 26px;
    }
  }

  .tablet-image {
    display: block;
    object-fit: contain;
    position: absolute;
    right: 0;
  }
}

@media (min-width: 1430px) {
  .container {
    width: 1440px;
    background: $background;
  }

  .tablet-image {
    display: none;
  }

  .desktop-image {
    display: block;
    object-fit: contain;
  }

  .content-wrapper,
  .logo {
    margin-left: 48px;
  }

  .logo {
    margin-top: 102px;
  }

  .podcast__header {
    font-size: 52px;
  }

  .bg-dots {
    display: block;
    position: absolute;
    bottom: -30px;
    right: -700px;
  }
}
