@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700;900&display=swap");
@import "_variables.scss";
@import "modules/podcast.scss";
@import "modules/platform.scss";

/*-------------------*/
/*universal box sizing with inheritance*/
/*pozwala m.in. na zdefiniowanie w ,,rodzicu" inny "box-sizing" (np. border-box)*/
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
/*-------------------*/

body {
  font-size: $fontSizeMobileHeader;
  font-family: $fontFamily;
  color: $textColor;
}

main {
  min-height: 100vh;
  position: absolute;
  opacity: 0.9;
  background-image: url("starter-code/assets/mobile/image-host.jpg");
  mix-blend-mode: screen;
}

.platform {
  &__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    left: 20px;
    width: 200px;
    height: 100px;
  }
}

.podcast {
  &__access {
    color: $requestColor;
    background: $headerButtonColor;
    box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.497913);
    border-radius: 28px;
  }
  &__color {
    color: $headerButtonColor;
  }
  &__description {
    font-size: $fontSizeMobileText;
    text-align: left;
  }
  &__dots {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    right: 50px;
  }
  &__header {
    text-align: left;
  }
}

@media (min-width: $mobile) {
  body {
    font-size: $fontSizeTabletHeader;
  }
  main {
    background-image: url("starter-code/assets/desktop/image-host.jpg");
  }
  .podcast {
    &__description {
      font-size: $fontSizeText;
    }
    &__dots {
      background-image: url("starter-code/assets/desktop/bg-pattern-dots.svg");
      color: $headerButtonColor;
    }
  }
}

@media (min-width: $tablet) {
  body {
    font-size: $fontSizeDesktopHeader;
  }
  .podcast {
    &__access {
      font-size: $fontSizeEmail;
      line-height: 28px;
      position: relative;
      left: 260px;
      right: 5px;
      top: 5px;
      bottom: 5px;
      max-width: 162px;
      height: 46px;
    }
    &__address {
      position: absolute;
      font-size: $fontSizeEmail;
      line-height: 28px;
      border-radius: 28px;
      background: $emailBackground;
      width: 427px;
      height: 56px;
      left: 39px;
      top: 618px;
    }
    &__description {
      font-size: $fontSizeText;
    }
  }
}
