@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700;900&display=swap");
/*--------WIDTH---------*/
/*----------------------*/
/*--------COLORS--------*/
/*----------------------*/
/*--------FONTS---------*/
/*weight*/
/*family*/
/*sizes*/
/*----------------------*/
/*--------WIDTH---------*/
/*----------------------*/
/*--------COLORS--------*/
/*----------------------*/
/*--------FONTS---------*/
/*weight*/
/*family*/
/*sizes*/
/*----------------------*/
/*--------WIDTH---------*/
/*----------------------*/
/*--------COLORS--------*/
/*----------------------*/
/*--------FONTS---------*/
/*weight*/
/*family*/
/*sizes*/
/*----------------------*/
/*-------------------*/
/*universal box sizing with inheritance*/
/*pozwala m.in. na zdefiniowanie w ,,rodzicu" inny "box-sizing" (np. border-box)*/
html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

*,
*:before,
*:after {
  box-sizing: inherit; }

/*-------------------*/
body {
  font-size: 26px;
  font-family: Chivo;
  font-weight: 400;
  color: #c2cbe5;
  background-color: #121725;
  min-height: 100vh;
  display: flex;
  align-items: center; }

.form__access {
  color: #121725;
  background: #54e6af;
  box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.497913);
  border-radius: 28px; }

.logo {
  position: absolute; }

main {
  min-height: 100vh;
  position: absolute;
  opacity: 0.9;
  mix-blend-mode: screen; }

/*.platform {
  &__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    left: 20px;
    width: 200px;
    height: 100px;
  }
}*/
.podcast__color {
  color: #54e6af; }

.podcast__description {
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  padding: 0px 24px 33px 24px; }

.podcast__header {
  font-size: 26px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  max-width: 327px;
  min-height: 76px;
  padding: 57px 24px 16px 24px;
  position: relative; }

@media (min-width: 375px) {
  .bg-dots {
    color: #54e6af;
    display: flex;
    align-items: flex-end;
    justify-items: center; }
  body {
    font-size: 48px; }
  .podcast__description {
    font-size: 18px; }
  .podcast__header {
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    max-width: 635px;
    min-height: 112px;
    text-align: left; } }

@media (min-width: 768px) {
  .bg-dots {
    color: #54e6af; }
  body {
    font-size: 52px; }
  .form__access {
    font-size: 14px;
    line-height: 28px;
    position: relative;
    left: 260px;
    right: 5px;
    top: 5px;
    bottom: 5px;
    max-width: 162px;
    height: 46px; }
  .form__address {
    position: absolute;
    font-size: 14px;
    line-height: 28px;
    border-radius: 28px;
    background: #2c344b;
    width: 427px;
    height: 56px;
    left: 39px;
    top: 618px; }
  .podcast__description {
    font-size: 18px; }
  .podcast__header {
    font-size: 52px;
    line-height: 62px;
    text-transform: uppercase;
    max-width: 665px;
    min-height: 124px;
    text-align: left; } }

@media (min-width: 1440px) {
  .bg-dots {
    color: #54e6af; } }
