@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700;900&display=swap");
/*--------WIDTH---------*/
/*----------------------*/
/*--------COLORS--------*/
/*----------------------*/
/*--------FONTS---------*/
/*weight*/
/*family*/
/*sizes*/
/*----------------------*/
/*--------WIDTH---------*/
/*----------------------*/
/*--------COLORS--------*/
/*----------------------*/
/*--------FONTS---------*/
/*weight*/
/*family*/
/*sizes*/
/*----------------------*/
/*--------WIDTH---------*/
/*----------------------*/
/*--------COLORS--------*/
/*----------------------*/
/*--------FONTS---------*/
/*weight*/
/*family*/
/*sizes*/
/*----------------------*/
/*-------------------*/
/*universal box sizing with inheritance*/
/*pozwala m.in. na zdefiniowanie w ,,rodzicu" inny "box-sizing" (np. border-box)*/
html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

*,
*:before,
*:after {
  box-sizing: inherit; }

/*-------------------*/
body {
  font-size: 26px;
  font-family: Chivo;
  color: #c2cbe5; }

main {
  min-height: 100vh;
  position: absolute;
  opacity: 0.9;
  background-image: url("starter-code/assets/mobile/image-host.jpg");
  mix-blend-mode: screen; }

.platform__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  left: 20px;
  width: 200px;
  height: 100px; }

.podcast__access {
  color: #121725;
  background: #54e6af;
  box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.497913);
  border-radius: 28px; }

.podcast__color {
  color: #54e6af; }

.podcast__description {
  font-size: 15px;
  text-align: left; }

.podcast__dots {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  right: 50px; }

.podcast__header {
  text-align: left; }

@media (min-width: 375px) {
  body {
    font-size: 48px; }
  main {
    background-image: url("starter-code/assets/desktop/image-host.jpg"); }
  .podcast__description {
    font-size: 18px; }
  .podcast__dots {
    background-image: url("starter-code/assets/desktop/bg-pattern-dots.svg");
    color: #54e6af; } }

@media (min-width: 768px) {
  body {
    font-size: 52px; }
  .podcast__access {
    font-size: 14px;
    line-height: 28px;
    position: relative;
    left: 260px;
    right: 5px;
    top: 5px;
    bottom: 5px;
    max-width: 162px;
    height: 46px; }
  .podcast__address {
    position: absolute;
    font-size: 14px;
    line-height: 28px;
    border-radius: 28px;
    background: #2c344b;
    width: 427px;
    height: 56px;
    left: 39px;
    top: 618px; }
  .podcast__description {
    font-size: 18px; } }
